*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    
}
.main{
    width: 100vw;
    height: 100vh;
    background-color:rgb(192, 192, 192);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.calculator_container{
   box-shadow: 4px 4px 30px rgba(0,0,0,0.3);
    height: 75%;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgba(22, 19, 19, 0.582);
    border: 1px solid lightblack;
    border-radius: 15px;
    overflow: hidden;
}
.cal_display{
    width: 100%;
    height: 35%;
    background-color: black;
   
    padding: 0 10px;
}
#display{
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: white;
    text-align: right;
    font-size: 22px;
    cursor: pointer;
    border: transparent;
}
.calc_btns_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
 
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    width: 60px;
    height: 52px;
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 4px 30px rgba(46, 44, 44, 0.3);
}
.equal{
    background-color: green;
}
.clear{
    background-color: red;
}
.symbol{
    background-color: rgb(212, 212, 66);
}